:root{
  --main-color: #338cc8;
}

.container_shadow{
  box-shadow: 5px 5px 13px 3px rgba(78, 78, 78, 0.73);
  -moz-box-shadow: 5px 5px 13px 3px rgba(78, 78, 78, 0.73);
  -webkit-box-shadow: 5px 5px 13px 3px rgba(78, 78, 78, 0.73);
}

/* Margins and paddings */
.top_60{
  margin-top: 60px !important;
}

/* End of margin and paddings */

@media (max_width: 991px) {
  .top_60{
    margin-top: 30px !important;
  }
}

.main_content{
  background-color: white;
  min-height: 100vh;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-bottom: 25px;
  padding: 20px;
}

.section{
  padding-bottom: 30px !important;
}

.section_title{
  margin-bottom: 30px !important;
}

.section_title .section_title_text{
  font-size: 18px;
  font-weight: 600;
  position: relative;
  margin: 0;
}

.section_title span{
  position: absolute;
  height: 9px;
  margin-top: 12px;
  opacity: 0.4;
  color: transparent;
  background-color: var(--main-color);
}